body {
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color:#333;
  font-family: 'Chivo Mono', monospace;
}

nav ul li a {
  transition: all 0.5s;
}

header li a:hover {
  color: #5bbe42;
}

ul {
  display: flex;
  justify-content:flex-end;
  list-style-type: none;
  padding: 26px;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  margin-left: 25px;
}

section img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #5bbe42;
}

div h3 {
  color:rgb(71, 216, 71);
  font-size: 23px;
}

section {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.text-p h1,
.text-p h2 {
  font-size: 30px;
  font-family: 'Chivo Mono', monospace;
}

.text-p p {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
}

.center {
  text-align: center;
}

h1,
div h2 {
  color:rgb(71, 216, 71);
}

.form-edit {
  margin: 200px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid #333;
  background:black;
  padding: 20px;
}

form label {
  display: flex;
  align-items: center;
  font-size: 17px;
  padding: 05px;
  font-family: 'Oxygen', sans-serif;
}

form input {
  padding: 10px;
  outline: none;
  border: 0;
  margin-bottom: 10px;
  transition: all 0.5s;
}

form input:focus {
  border-radius: 16px;
}

form textarea {
  padding: 7px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

form textarea:focus {
  border-radius: 16px;
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  color: #333;
  transition: all 0.1s;
  margin-bottom: 30px;
  border: 2px solid;
  color: white;
}

form button:hover {
  color: #5bbe42;
}

