body {
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 16px;
}

a {
  color: white;
  text-decoration: none;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #5bbe42;
}

.center {
  text-align: center;
}

h1 {
  color:rgb(71, 216, 71);
}

footer img {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: center;
}

header,
main,
nav {
  max-width: 1500px;
  margin: 0 auto;
}

footer a {
  margin: 20px;
  text-align: center;
}

footer p {
  margin-top: 2px;
}

nav a:hover {
  color: rgb(55, 214, 55);
}
